<nav id="navigation-bar" class="navbar navbar-light fixed-top navbar-animation" role="navigation">
  <a class="navbar-brand text-light navigation-bar-element" routerLink="/">Pepijn Fijt</a>
  <span>
    <a class="mr-4 text-light navigation-bar-element" href="https://nl.linkedin.com/in/pepijn-fijt-62781b185" target="_blank" ><i class="fa fa-linkedin fa-lg"></i></a>
    <a class="mr-4 text-light navigation-bar-element" href="https://github.com/pffijt" target="_blank" ><i class="fa fa-github fa-lg mr-1"></i></a>
    <a class="text-light navigation-bar-element" href="mailto:mail@pepijnfijt.nl"><i class="fa fa-paper-plane fa-lg mr-1"></i></a>
  </span>
</nav>
<header>
  <div class="header-overlay">
  </div>
  <h1 class="header-title text-light p-2">Software developer and smart mobility enthusiast.</h1>
  <div class="header-sort-down">
    <i class="fa fa-sort-down fa-2x text-light"></i>
  </div>
  <div *ngIf="showVideo(); else noVideo" class="header-size">
    <video poster="./assets/header_poster.jpg" autoplay="true" muted="true" loop>
      <source src="./assets/Pexels Videos 2609.mp4" type="video/mp4">
    </video>
  </div>
  <ng-template #noVideo>
    <div class="header-size">
      <img src="./assets/header_poster.jpg">
    </div>
  </ng-template>
</header>
<main>
  <section class="section-project mt-0 mb-0 pt-5 pb-5 text-dark">
    <h2 class="mt-0 mb-0 text-center">Projects</h2>
    <div class="row justify-content-center pt-5 pb-0" style="margin-left: -5px;">
      <div class="col-4 no-gutters gram-block">
        <img class="gram-container" src="./assets/connexxion_vehicle.jpg">
      </div>
      <div class="col-4 no-gutters gram-block">
        <img class="gram-container" src="./assets/sr_project.jpg">
      </div>
    </div>
  </section>
  <section class="section-employer mt-0 mb-0 pt-5 pb-5 text-dark">
    <h2 class="mt-0 mb-0 text-center">Current Situation</h2>
    <div class="d-flex justify-content-center">
      <div class="card rounded-0 mb-3 mt-5 mr-2 ml-2 text-center" style="max-width: 18rem;">
        <div class="card-body text-dark">
          <h5 class="card-title">Education</h5>
          <p class="card-text">University of Applied Sciences Rotterdam<br/><br/>Informatics, Professional bachelor degree<br/><br/>(2017 - current)</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-contact mt-0 mb-0 pt-5 pb-5 text-dark">
    <h2 class="mt-0 mb-0 pb-4 text-center">Contact</h2>
      
        <div class="text-center mb-3">
          <i class="fa fa-paper-plane fa-lg pr-1"></i>
          <a class="text-dark" href="mailto:mail@pepijnfijt.nl">pffijt@gmail.com</a>
        </div>
   
        <div class="text-center">
          <i class="fa fa-phone fa-lg pr-1"></i>
          +31614125929
        </div>
  </section>
</main>