<nav id="navigation-bar" class="navbar navbar-light fixed-top navbar-animation" role="navigation">
  <a class="navbar-brand text-light navigation-bar-element" routerLink="/">Pepijn Fijt</a>
  <span>
    <a class="mr-4 text-light navigation-bar-element" href="https://nl.linkedin.com/in/pepijn-fijt-62781b185" target="_blank" ><i class="fa fa-linkedin fa-lg"></i></a>
    <a class="mr-4 text-light navigation-bar-element" href="https://github.com/pffijt" target="_blank" ><i class="fa fa-github fa-lg mr-1"></i></a>
    <a class="text-light navigation-bar-element" href="mailto:mail@pepijnfijt.nl"><i class="fa fa-paper-plane fa-lg mr-1"></i></a>
  </span>
</nav>
<header>
  <div class="header-overlay">
  </div>
  <h1 class="header-title text-light p-2">Software developer and smart mobility enthusiast.</h1>
  <div class="header-moving-arrow">
    <i class="fa fa-sort-down fa-2x text-light"></i>
  </div>
  <div *ngIf="showVideo(); else noVideo" class="header-size">
    <video poster="./assets/header_poster.jpg" autoplay="true" muted="true" loop>
      <source src="./assets/Pexels Videos 2609.mp4" type="video/mp4">
    </video>
  </div>
  <ng-template #noVideo>
    <div class="header-size">
      <img src="./assets/header_poster.jpg">
    </div>
  </ng-template>
</header>
<main>
  <!--<section class="section-project mt-2 mb-2 text-dark">
    <div class="pt-5 pb-5 gram-list">
      <div class="gram-container">
        <h2>Projects</h2>
      </div>
      <div class="gram-container">
        <img class="gram-image" src="./assets/connexxion_vehicle.jpg">
      </div>
      <div class="gram-container">
        <img class="gram-image" src="./assets/sr_project.jpg">
      </div>
    </div>
  </section>-->
  <section class="section-employer mt-2 mb-2 text-dark">
    <div class="pt-5 pb-5 gram-list">
      <div class="gram-container bg-blue-gradient">
        <h2>Experience</h2>
      </div>
      <div class="gram-container gram-text">
        <h3>Work</h3>
        <p>Full-stack developer<br/><br/>National Road Traffic Portal, Utrecht<br/><br/>(July. 2021 - current)</p>
      </div>
      <div class="gram-container gram-text">
        <h3>Work</h3>
        <p>Junior Software developer<br/><br/>Sweco, De Bilt<br/><br/>(Feb. 2020 - current)</p>
      </div>
      <div class="gram-container gram-text">
        <h3>Education</h3>
        <p>University of Applied Sciences Rotterdam<br/><br/>Informatics, Professional bachelor degree<br/><br/>(Sep. 2017 - July, 2021)</p>
      </div>
    </div>
  </section>
  <footer class="section-contact mt-0 mb-0 pt-5 pb-5">
    <h2 class="mt-0 mb-0 pb-4 text-light text-center">Contact</h2>

        <div class="text-center mb-3">
          <p class="text-light">
            <i class="fa fa-paper-plane fa-lg pr-1"></i>
            <a class="text-light" href="mailto:mail@pepijnfijt.nl">pffijt@gmail.com</a>
          </p>
        </div>

        <div class="text-center">
          <p class="text-light">
            <i class="fa fa-phone fa-lg pr-1"></i>
            +31614125929
          </p>
        </div>
      </footer>
</main>
