
.header-size video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.header-size img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.header-overlay {
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: rgba($color: #000000, $alpha: 0.6);
}

.header-sort-down {
    position: absolute;
    left: calc(50vw - 9.1px);
    top: 66vh;
    animation-name: sort-down-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes sort-down-animation {
    0% {top: 66vh;}
    50% {top: 65.5vh;}
    100% {top: 66vh;}
}

.gram-block {
    max-width: 95vw;
}

.gram-container {
    display: block;
    margin: 6px auto;
    margin-bottom: 30px;
    max-width: 90vw;
    width: 400px;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.gram-container:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.section-project {
    background-color: #ffffff;
}

.section-employer {
    background-color: #e6e6e6;

}

.section-contact {
    background-color: #ffffff;
}

.navbar-animation {
    -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}