<nav class="navbar navbar-light fixed-top" role="navigation">
  <a class="navbar-brand text-light" routerLink="/">Pepijn Fijt</a>
  <span>
    <a class="mr-4 text-light" href="#"><i class="fa fa-linkedin fa-2x"></i></a>
    <a class="text-light" href="#"><i class="fa fa-github fa-2x mr-1"></i>pffijt</a>
  </span>

</nav>
<header>
  <h1 class="header-title text-light p-2">Software developer with interests in mobility solutions.</h1>
  <div *ngIf="showVideo(); else noVideo" class="header-size" >
    <video poster="../assets/header_poster.jpg" autoplay="true" muted="true" loop>
      <source src="../assets/Pexels Videos 2609.mp4" type="video/mp4">
    </video>
  </div>
  <ng-template #noVideo>
    <div class="header-size">
      <img src="../assets/header_poster.jpg">
    </div>
  </ng-template>
</header>