/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
}

header {
    width: 100vw;
    height: 80vh;
}

.header-title {
    position: absolute;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
}